<p>Kia ora,</p>
<p>Awesome, you’ve registered to be part of actions to shut down the arms trade! Below you'll find some handy information.</p>
<p>Please could you do one more thing and spread the word? You could share info about the blockade on <a href="https://twitter.com/intent/tweet?text=War%20is%20coming%20to%20Wellington%20on%2010th-11th%20of%20October.%20Join%20the%20fight%20to%20stop%20the%202017%20Weapons%20Expo%21%20www.stopthearmstrade.nz%20&source=webclient#WarStartsHere">Twitter</a> or <a href="https://www.facebook.com/sharer.php?u=http://www.stopthearmstrade.nz/armsExpo/2017">Facebook</a>, or find print-ready <a href="http://www.stopthearmstrade.nz/resources/posters">posters and flyers on our website.</a></p>
<h2>Blockade details</h2>
<p>The Expo runs over two days. We’ve got definite plans for Tuesday and will be ready for more action on Wednesday.</p>
<p>Tues Oct 10 - Meet 7.30am: Pedestrian overbridge to the Westpac Stadium, beside 90 Waterloo Quay</p>
<p>Weds Oct 11 - More action TBC - keep the day free if you can!</p>
<h2>Things to bring</h2>
<p>Remember, a good blockade is a prepared blockade! We aim to be there for the whole day so bring what you need to keep comfortable. We recommend bringing sunscreen, snacks, water, warm clothes, a cushion, more snacks, wet weather gear (unpredictable Wellington!) <a href="http://www.stopthearmstrade.nz/takeAction/artivism">placards and banners</a>, any medications you need, games and yet more snacks.</p>
<p>Remember to take breaks from the blockade when you need or switch roles with another person.</p>
<h2>NVDA training</h2>
<p>Soon we’ll send you details of some Non-Violent Direct Action training sessions, where we’ll share skills on how to be part of an action in a way that’s effective, empowering, and as safe as possible.</p>
<h2>Colour code groups</h2>
<p>We want everyone who joins the blockade to feel comfortable with what they are doing and be able to communicate their intentions with the people around them. For this reason, we will use a colour code system to group you with others in the blockade about your comfort levels and intentions. Please have a look and see which group you feel most comfortable with.</p>
<p><strong>Green: </strong>I am here to participate in the blockade and prevent people or goods from getting into the building but I do not want to be arrested or put in a position where I may be hurt. I may prefer to move around and talk to people, bring people food, play with children, make music etc.</p>
<p><strong>Orange: </strong>I am here to participate in the blockade and actively prevent people or goods from getting into the building. I do not want to be arrested if I can avoid it.</p>
<p><strong>Red: </strong>I am here to participate in the blockade and actively prevent people or goods from getting into the building. I am prepared to be arrested if it is necessary.</p>
<p>Remember, these colours are a tool to help you talk with other people in the blockade about how you will behave and what your priorities are.</p>
<h2>Transport and Accommodation</h2>
<p>If you need transport or accommodation we will be in touch about arrangements</p>
<p>We are working to keep shared accommodation as affordable as possible but will be asking for contributions to the cost if you are able</p>
<p>If money is a barrier for getting to Wellington, please get in touch and we may be able to help</p>
<p>Our account for financial contributions to the campaign or accommodation costs is: Kiwibank 38-9007-0839416-00 (Peace Action Wellington)</p>
<h2>Tell us a bit more</h2>
<p>If you have specific skills you’d like to offer us, please email us at <a href="mailto:peacewellington@riseup.net">peacewellington@riseup.net</a> and let us know!</p>
<p>We’re looking for people with experience in first aid, legal expertise, music, video, and photography, or anything else that you’d like to offer.</p>
<p>Please also let us know if you’d like to coordinate a team of people on the day in the red/orange/green team, or if you have an affinity group that wants to help in blockade planning</p>
<h2>What can I do right now?</h2>
<p>The best thing you can do right now is share this event far and wide! The more people who come along, the more successful and fun the blockade will be. You could share info about the blockade on <a href="http://www.twitter.com/home?status=War%20is%20coming%20to%20Wellington%20on%2010th-11th%20of%20October.%20Join%20the%20fight%20to%20stop%20the%202017%20Weapons%20Expo!%20www.stopthearmstrade.nz%20#WarStartsHere">Twitter</a> or <a href="https://www.facebook.com/sharer.php?u=http://www.stopthearmstrade.nz/armsExpo/2017">Facebook</a>, or find print-ready <a href="http://www.stopthearmstrade.nz/resources/posters">posters and flyers</a> on our website.</p>
<p>You can stay updated with Peace Action Wellington on <a href="https://twitter.com/PeaceActionWGTN">Twitter</a>, <a href="https://www.facebook.com/peaceactionwellington/">Facebook</a>,<a href="https://www.instagram.com/peaceactionwgtn/">Instagram</a> and our <a href="http://peacewellington.org/">website</a>.</p>
<p>Other awesome peace groups in New Zealand are <a href="http://aucklandpeaceaction.nz">Auckland Peace Action</a> and <a href="https://www.facebook.com/Peace-Action-Hamilton-116647978920551/">Peace Action Hamilton</a>.</p>
<p>If you have any questions, you can email us at <a href="mailto:peacewellington@riseup.net">peacewellington@riseup.net</a>.</p>
<p>Awesome that you've joined the struggle against the Weapons Expo! Kia kaha!</p>
<p>From Peace Action Wellington, Auckland Peace Action, Peace Action Hamilton</p>
<img src="https://s3-ap-southeast-2.amazonaws.com/grec-froc-m5x2-5fgg67/assets/images/paw_logo.jpg" height="100px" alt="">
<img src="https://s3-ap-southeast-2.amazonaws.com/grec-froc-m5x2-5fgg67/assets/images/apa_logo.png" height="100px" alt="">
<img src="https://s3-ap-southeast-2.amazonaws.com/grec-froc-m5x2-5fgg67/assets/images/pah_logo.png" height="100px" alt="">
